.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

/* The original code (below)was replaced with the above orking code
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
